.map {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #1e1e1e;
  padding: 20px;
  color: white;
  z-index: 5;
}

.mapWrapper {
  flex-grow: 1;
  position: relative;
}
